# Pymaceuticals Inc.

## Module 5

### Analysis

-

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [3]:
#
mouse_metadata = pd.read_csv("data/mouse_metadata.csv")
study_results = pd.read_csv("data/study_results.csv")

#
mouse_data = pd.merge(study_results,mouse_metadata, on="Mouse ID")

#
mouse_data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22